body {
	background-image: url('img/hypnotizefon.png');
}
.O1 {
	color: #FFFFFF;
	font-family: Tahoma;
}
figure {
	background: #6495ED;
	padding-bottom: 5px;
	width: 400px;
}
ul {
	list-style: square;
	display: table-row;
}
ul li {
	margin-left: 20px;
}
li {
	color: #4169E1;
}
li span {
	color: #000000;
}
